<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've loginned from the following device:</h1>
    <p>Browser: <%= @user.browser %></p>
    <p>IP: <%= @user.ip %></p>
    <p>OS: <%= @user.os %></p>
  </body>
</html>
